
* {
    box-sizing: border-box;
   
}
title {
    display: none;
}


link {
    display: none;
}
header {
  
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 29px 0  #136ba285;
    position: fixed;
    top: 0;
    transition: 0.4s
}
 div.column.menu-icon-container {

background-color: #FF848A;


}
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #FF848A;
}


body {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #2e2e31;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sidebar-menu {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 300px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 30px 0 0 20px;
    background-color: #fff;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: 0.2s; 
     }
     section {
        display: block;
    }

    .close-menu-btn {
        position: absolute;
        right: 20px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }

    button {
        border: 0;
        background-color: transparent;
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        color: #2e2e31;
        cursor: pointer;   }


        footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 80px 20px 60px;
            background-color: #FF4C74;
            color: white;
        }
        .footer-nav-menu {
            display: flex;
            margin: 0;
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            background-color:#FF848A ;
        }

        li{
            background-color: #FF848A;

        }
        .footer-nav-link {
            font-size: 14px;
            color: white;
            
        }

        

        a {
            text-decoration: none;
            color: #2e2e31;
            display: block;
        }
        ul li, ol li {
            line-height: 1.4;
        }

.nav-link.selected {
    color: white;
    padding: 0 30px;
}

.nav-link.selected, .button {
    transition: 0.2s;
 }
 .nav-link {
    line-height: 2.5;
    padding: 0 10px;
    border-radius: 100px;
    background-color: #FF848A;

}
.selected {
    background-color: #294B85 ;
    color: white;
    padding: 0 30px;
    border-radius: 100px;
}

img {
    /*display: block;*/
    width: 88%;
}



.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project {
    width: calc(100% / 3 - (0.75em * 2));
    margin: 0.75em;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    overflow: hidden; }
    .about-section {
        min-height: calc(100vh - 90px);
        margin-top: 40px;
    }

.section {
    padding: 110px 40px 130px;
    text-align: center;

}
.presen{
    color: #294B85;
    font-size: 40px;
    height: 42px;
    text-align: left;
    margin: 0px;
    word-spacing: 0cm;
}
.primer-t{
    
        margin-top: 0;
        margin-bottom: 5px;
        color: #294B85;
       line-height: 72px;
       text-decoration: none solid rgb(131,156,236) ;
       text-align: left;
       word-spacing: 0px;
       background-color: #ffffff;
       background: 0% 0%;
       display: block;

    }
h1{
    font-size: 60px;
    
}
h2{
    text-align: center;
    font-size: 60px;
    color: #294B85;
}
h3{
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 22,4px;
    margin: 16px 0 16px  425px;
    
    max-width: 400px;
    min-width: auto;
    text-decoration: none solid rgb(75,75,85);
}
.descripcion{
font-size: 16px;
font-weight: 22.4px;
display: block;
color: #616161;
}
.pf{
    height: 500px;
    width: 500px;
    min-width: auto;
    display: block;
}
.button{
    background-color: #294B85 ;
    color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
align-items: center;
    width:  200px;
    height: 50px;

}


.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   /* margin-top: 5px; */   
}
.fotologo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 300px;
    /* height: 200px;
    border: solid 1px  rgb(184, 216, 216); */
    border-radius: 15px;
    box-shadow: 0px 0px 6px 0px rgb(255, 182, 212)  ;
    font-size: 25px;
    /*color:  rgb(79, 99, 103);*/
}
/*.cards :hover{
    box-shadow: 0px 0px 15px 0px  rgb(190, 174, 173);
}*/


.subtitulo{
font-size: 17px ;
}


